@import './variable.scss';

// Table
.card__plan {
    .col__search {
        margin-right: 7px;
    }

    // Antd
    .ant-select {
        align-items: center;
        cursor: default;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        min-height: 38px;
        outline: 0 !important;
        position: relative;
        transition: all 100ms;
        background-color: hsl(0, 0%, 100%);
        border-color: hsl(0, 0%, 80%);
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        box-sizing: border-box;
        width: 100%;

        .ant-select-selector {
            border: none;

            .ant-select-selection-search-input,
            .ant-select-selection-placeholder {
                font-family: "Montserrat", Helvetica, Arial, serif !important;
                opacity: 0 !important;
            }
        }
    }

    .whole-table__plan {
        padding: 0 21px;

        .table__plan {
            border: 1px solid rgba(0, 0, 0, 0.12);

            .rdt_TableHead {
                .rdt_TableHeadRow {
                    background-color: #28C76F;

                    .rdt_TableCol {
                        &:not(:last-child) {
                            border-right: 1px solid rgba(0, 0, 0, .12) !important;
                        }

                        .sc-cwHptR {
                            text-transform: uppercase;
                            font-weight: bold;
                            white-space: break-spaces;
                            text-align: center;
                        }

                    }
                }
            }
        }

        .table__plan {
            .rdt_TableBody {
                .rdt_TableRow {
                    .rdt_TableCell {
                        &:not(:last-child) {
                            border-right: 1px solid rgba(0, 0, 0, .12) !important;
                        }

                        #btn-trash,
                        #btn-edit {
                            outline: none;
                        }
                    }
                }
            }
        }

    }

    .label__search {
        min-width: fit-content;
    }

    .input__features {
        justify-content: center !important;
        .label__select {
            min-width: fit-content;
        }
        .react-select {
            width: 100%;
        }
    }
}

.breadcrumb__page {
    margin-bottom: 1rem;

    .breadcrumb__btn {
        padding: 0;
        border: none;
        background-color: transparent !important;
        color: $breadcrumb-btn !important;
        vertical-align: baseline;
        font-weight: initial;
    }
}